/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
webpack.mix.js
tests/Feature/ExampleTest.php
tests/CreatesApplication.php
server.php
routes/web.php
routes/console.php
routes/channels.php
routes/api.php
resources/views/welcome.blade.php
resources/views/vue/index.blade.php
resources/views/tictactoe/index.blade.php
resources/views/master.blade.php
resources/sass/app.scss
resources/sass/_variables.scss
resources/lang/en/validation.php
resources/lang/en/passwords.php
resources/lang/en/pagination.php
resources/lang/en/auth.php
resources/js/vue.js
resources/js/tictactoe.js
resources/js/components/ExampleComponent.vue
resources/js/bootstrap.js
resources/js/app.js
readme.md
public/web.config
public/robots.txt
public/index.php
public/css/style.css
public/css/app.css
public/.htaccess
phpunit.xml
package.json
package-lock.json
config/view.php
config/session.php
config/services.php
config/queue.php
config/mail.php
config/logging.php
config/hashing.php
config/filesystems.php
config/database.php
config/cache.php
config/broadcasting.php
config/auth.php
config/app.php
composer.lock
composer.json
bootstrap/app.php
artisan
app/User.php
app/Providers/RouteServiceProvider.php
app/Providers/EventServiceProvider.php
app/Providers/BroadcastServiceProvider.php
app/Providers/AuthServiceProvider.php
app/Providers/AppServiceProvider.php
app/Http/Resources/User.php
app/Http/Resources/Department.php
app/Http/Requests/UpdateUserRequest.php
app/Http/Requests/UpdateDepartmentRequest.php
app/Http/Requests/StoreUserRequest.php
app/Http/Requests/StoreDepartmentRequest.php
app/Http/Middleware/VerifyCsrfToken.php
app/Http/Middleware/TrustProxies.php
app/Http/Middleware/TrimStrings.php
app/Http/Middleware/RedirectIfAuthenticated.php
app/Http/Middleware/EncryptCookies.php
app/Http/Middleware/CheckForMaintenanceMode.php
app/Http/Middleware/Authenticate.php
app/Http/Kernel.php
app/Http/Controllers/VueController.php
app/Http/Controllers/UserControllerAPI.php
app/Http/Controllers/TicTacToeController.php
app/Http/Controllers/DepartmentControllerAPI.php
app/Http/Controllers/Controller.php
app/Http/Controllers/Auth/VerificationController.php
app/Http/Controllers/Auth/ResetPasswordController.php
app/Http/Controllers/Auth/RegisterController.php
app/Http/Controllers/Auth/LoginController.php
app/Http/Controllers/Auth/ForgotPasswordController.php
app/Exceptions/Handler.php
app/Department.php
app/Console/Kernel.php
.gitattributes
.env.example
.editorconfig
app/Http/Controllers/Auth/LoginController.php
.editorconfig
.gitattributes
